@import '_nullstyle';
@import '_fonts';
@import '_blocks';
// @import '_swiper';

//<ПЕРЕМЕННЫЕ>===================================================================================================================
$minwidth: 320px;
$mw: 970;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//<ШРИФТ ПО УМОЛЧАНИЮ>=================================================================================================
body {
	font-family: 'PT Sans';
	&._lock {
		overflow: hidden;  // запрещаем скрол при открытом меню-бургере
	}
}
//<ОБОЛОЧКА>====================================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	// overflow: hidden;
	display: flex;	 // чтобы прижать футер к низу
	flex-direction: column;
}
//<Ссужающий контейнер _container>=============================================================================================
._container {
	max-width: $mw + px;
	margin: 0 auto;
	padding: 0 10px;	

	//<ОСНОВНАЯ СЕТКА>===========
	// данные шпаргалки по адаптиву не нужны, т.к. 
	//нужно четко видеть сужение ширины окна для лучшего адаптива
	// @media (max-width: $md1+px) {
	// 	max-width: 970px;		
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;		
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;	
	// 	padding: 0 10px;	
	// }
}
//<HEADER>====================================================================================================================
.header {
	position: relative;
	z-index: 50;
	
	// position: fixed;   //!нет position: relative;
	// width: 100%;	//!нет
	background-color: #1c242a;
		// .header__container
		&__container {		
			height: 75px;
			display: flex;
			align-items: center;			
		}

		// .header__logo 
		&__logo {
			position: relative;  //!только что добавила
			z-index: 2;
			// Центрируем логотип (выбрали такой вариант, потому что он флекс эл + много отступов.)
			width: 144px;
			@media (max-width: 767px) {
				position: absolute;
				z-index: 52;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}			
		}

		// .header__menu
		&__menu {			
		}

		// .header__actions
		&__actions {
		}
}
//<icon for burger>=======БУРГЕР-блок=======================БУРГЕР-блок=======================БУРГЕР-блок================
.icon-menu {
	@media (max-width: 767px) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #b29059;
			&:first-child {
				top: 0px;		}
			&:last-child {
				top: auto;
				bottom: 0px;}}
		&._active {
			span {
			transform: scale(0,0);
			&:first-child {
				transform: rotate(-45deg);
				top: calc(50% - 1px);		}
			&:last-child {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);}}}
	}
}
//<HEADER-MENU>====================================================================================================================
.menu {
	padding: 0 0 0 30px/950px*100%;  //сделали для того чтобы уменьшался отступ при адаптиве
	flex: 1 1 auto;  //прижимаем правую часть header-actions к правому краю
		// .menu__icon =======БУРГЕР-элемент=========
		&__icon {
			display: none;
		}

		// .menu__body  ============МЕНЮ================
		&__body {	
							
			// Делаем меню для бургера
			@media (max-width: 767px) {     
				opacity: 0;
				visibility: hidden;

				position: fixed;		//!да
				z-index: 2;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(28, 36, 42, 0.98);

				// Создаем плашку
				&::after {
					content: '';
					position: fixed;
					// position: absolute;  //!нет position: fixed;
					top: 0;
					left: 0;
					height: 75px;
					width: 100%;
					background-color: #1c242a;
				}
				&._active {
					opacity: 1;
					visibility: visible;
				}
			}		
		}

		// .menu__list
		&__list {
			display: flex;	
			align-items: center;
			justify-content: center;
			
			li {	
				margin: 0 15px;			
			}
			@media (max-width: 767px) {
				height: 100%;
				display: block;
				text-align: center;
				padding: 100px 0px 25px 0px;
				overflow: auto;	
				li {
					margin: 0px 0px 30px 0px;
					&:last-child {
					margin: 0px 0px 0px 0px;
					}					
				}
			}
			
		}

		// .menu__link
		&__link {
			color: #fff;
			font-family: 'PFDin';
			font-size: 14px;
			line-height: 21px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			@media (max-width: 767px) {
				font-size: 24px;
			}		

		}
}
//<ACTIONS-HEADER>========================================================================================
.actions-header {
	display: flex;
	align-items: center;

		// .actions-header__region
		&__region {
			position: relative;
			z-index: 2;
			@extend .menu__link;
			background: url('/img/header/region.png') left no-repeat;
			min-width: 18px;
			min-height: 18px;
			padding: 0 0 0 30px;
			@media (max-width: 890px) {
			padding: 0 0 0 0;
				span {
					display: none;
				}
			}			
		}
		// .actions-header__user
		&__user {
			position: relative;
			z-index: 2;
			margin: 0 0 0 30px;
			@media (max-width: 890px) {
			margin: 0 0 0 15px;				
			}
			

		}
}
.user-header {

		// .user-header__icon
		&__icon {
			cursor: pointer;
		}

		// .user-header__menu =======DROPDOWN================
		&__menu {
			opacity: 0;			   // обязательно сделать visibility, иначе ссылки будут работать
			visibility: hidden;    // при ннажатии на пустое пространство (то где стоит данное меню)
			position: absolute;    
			top: 58px;
			right: 0;
			background-color: #1c242a;
			padding: 20px;
			transition: all 0.3s ease 0s;
			width: 178px;
			
		
			li {	
				margin: 0px 0px 18px 0px;			// работает как :not(:last-child), только в scss
				&:last-child {
					margin: 0px 0px 0px 0px;
				}								
			}
			&._active {
				opacity: 1;			  
				visibility: visible;
				top: 48px;
				@media (max-width: 767px) {
					width: 100vw;
					margin-right: -10px;
				}
			}				
			
		}

		// .user-header__link
		&__link {
			display: inline-block;  // на всякий случай)
			padding: 0 0 0 30px;
			color: #fff;
			line-height: 18px;
			@media (min-width: 992px) {			// добавляем хавер !!!
				&:hover{
					text-decoration: underline;
				}
			}
			
			// .user-header__link_1
			&_1 {
				background: url('/img/header/dropdown/globe.png') 1px center no-repeat;
			}

			// .user-header__link_2
			&_2 {
				background: url('/img/header/dropdown/key.png') left center no-repeat;				
			}

			// .user-header__link_3
			&_3 {
				background: url('/img/header/dropdown/palm.png') 4px center no-repeat;			

			}

			// .user-header__link_4
			&_4 {
				background: url('/img/header/dropdown/hammer.png') left center no-repeat;				

				// margin: 0px 0px 0px 0px;
			}
		}
}
//<MAIN>====================================================================================================================
.page {
	flex: 1 1 auto;
}
//<MAIN-SLIDER>================================================================================
.main-slider {      // .swiper
	position: relative;
	overflow: visible;  // сама добавила чтобы был виден крутящийся декор
	.swiper-wrapper {
		align-items: stretch;
	}
	
		// .main-slider__body  или .swiper-wrapper
		&__body {
		}

		// .main-slider__item (элемент)  или .swiper-slide 
		&__item {
			position: relative;

		}

		// .main-slider__control
		&__control {
			position: absolute;
			z-index: 3;
			left: 50%;
			bottom: 0;
			width: 100px;
			height: 100px;
			transform: translate(-50%, 50%);
			display: flex;
			justify-content: center;
			align-items: center;
			
			
			&:after {
				position: absolute;
				top: 50%;
				left: 50%;
				background-color: #fff;
				width: 70%;
				height: 70%;			
				transform-origin: 0 0;
				transform: rotate(45deg) translate(-50%, -50%);
				content: '';
			}
		}
}
.item-main-slider {              // - блок
	position: relative;
	text-align: center;
	padding: 38px 0 100px 0;

	// .item-main-slider__content
	&__content {
		position: relative;
		z-index: 2;
		height: 100%;
	}

	// .item-main-slider__container
	&__container {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .title - находится в bloks.scss
	.title {
	}
	// .item-main-slider__text
	&__text {
		max-width: 700px;
		margin: 25px auto 0 auto;
		font-family: 'PT Sans';
		font-size: 15px;
		line-height: calc(25 / 15);
		flex: 1 1 auto;    //прижимаем кнопку к низу
		font-weight: 400;
		color: #fff;
	}	
	// .item-main-slider__btn	- ЭЛЕМЕНТ (	блок лежит в bloks.scss)
	&__btn {   
		margin: 55px 0 0 0; 		
	}
	
	// .item-main-slider__bg
	&__bg {
		position: absolute;		
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;	
	}
}
.control-main-slider {
	// position: relative;
	// z-index: 55;
	// .control-main-slider__arrow
	&__arrow {
		cursor: pointer;
		position: relative;
		z-index: 2;
		width: 14px;
		height: 24px;

		// .control-main-slider__arrow_prev
		&_prev {
		background: url('/img/slider/row-left.png') 0 0 no-repeat;

		}

		// .control-main-slider__arrow_decor
		&_decor {
			position: relative;
			z-index: 2;
			margin: 0 12px;
			animation: rotate 5s infinite linear;
		}

		// .control-main-slider__arrow_next
		&_next {
		background: url('/img/slider/row-right.png') 0 0 no-repeat;

		}
	}
}
@keyframes rotate {
	0% {}
	100% {
		transform: rotate(360deg);
	}
}
//<LOTS>================================================================================
.lots {
	padding: 85px 0px 63px 0px;
	// .lots__container
	&__container {
	}
	// .lots__header
	&__header {	
		margin: 0px 0px 40px 0px;		
	}
	// .lots__slider
	&__slider {					
	}
}
.slider-lots {
	&__body {
		text-align: center;	
		&.swiper-wrapper {
			align-items: stretch;
		}
		.swiper-slide {
			height: 100%;
		}	
		margin: 0 0 50px 0;

	}
	// .slider-lots__slide
	&__slide {	
	}
	// .slider-lots__control
	&__control {
	}
}
.control-slider-lots {
	display: flex;
	justify-content: center;
	align-items: center;
	// .control-slider-lots__arrow
	&__arrow {
		cursor: pointer;
		display: flex;
		align-items: center;
		span {
			background: url('/img/lots/control/left.png') 0 0 no-repeat;
			width: 108px;
			height: 35px;		
			flex: 0 0 108px;
		}
		&::after {
			content: '';
			height: 15px;
			width: 15px;
			flex: 0 0 15px; 
			display: flex;
			align-items: center;
			border-radius: 50%;
			border: 1px solid #bb9c66;
			margin: 0 5px;
		}
		&:last-child {
			flex-direction: row-reverse;	
			span {
				transform: rotate(180deg);
			}	
		}
	}
	// .control-slider-lots__link
	&__link {	
		background: url('/img/lots/control/circle.png') 0 0 no-repeat;
		flex: 0 0 100px;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: PFDin;
		font-size: 21px;
		line-height: 25px;
		font-weight: 500;
		text-transform: uppercase;
		color: #000000;
		margin: 0 20px;

	}
}
//================================================================================

